.Blog-Page-Image {
    width: 483px;
    object-fit: cover;
    border-radius: 22px;
}
.Indvidual-Blog-Main-Container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Indvidual-Blog-Content-Container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media(min-width: 300px) and (max-width: 575px) {
    .Blog-Page-Image {
        width: 100%;
    }
}