.Horizontal-Common-Card {
    display: flex;
    gap: 12px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    position: relative;
}

.Horizontal-Common-Image-Box {
    min-width: 185px;
    /* height: 193px; */
}

.Horizontal-Common-Content-Box {
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Horizontal-Common-Content-disc {
    color: #3B4A54;

    font-size: 13.208px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.812px;
    margin-top: 13px;
    text-transform: capitalize;
}

.Horizontal-Common-Image-Box>img {
    width: 100%;
    height: 100%;
    max-width: 185px;
}

.star-box>div {
    display: flex;
    align-items: center;
}

.star-box>div>span {
    padding: 6.829px;
    border-radius: 4px;
    background: #FFD13C;
    color: #fff;
    color: #FFF;

    font-size: 9.561px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.341px;
    display: inline-block;
}

.star-box {
    display: flex;
    align-items: center;
    gap: 32.72px;
}

.Class-Mode {}

.hover-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    display: none;
}


.Horizontal-Common-Card:hover {
    .hover-box{
        display: block;
        transition: 3s;
        top: 0%;
        width: 100%;
        height: 100%;
        display: block;
        background: url('../../../../public/images/dummy.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
    }
}


@media(min-width: 300px) and (max-width:575px) {
    .Horizontal-Common-Image-Box {
        width: 158px;
        max-height: 154.2px;
    }

    .star-box>div>span {
        padding: 4.304px;
        color: #FFF;
        font-family: Satoshi;
        font-size: 6.025px;
        font-style: normal;
        font-weight: 700;
        line-height: 9.038px;
    }

    .Horizontal-Common-Content-Box> :nth-child(1)>h2 {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 21.133px;
    }

    .Horizontal-Common-Content-Box> :nth-child(1)>p {
        color: #3B4A54;

        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.812px;
        margin: 0;
        text-transform: capitalize;
    }

    .star-value {
        padding: 4.304px;
    }

    .star-box>div {
        gap: 2.824px;
    }

    .star-box>div>img {
        width: 11.861px;
        height: 11.861px;
    }

    .star-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }


    .star-box>p {
        color: #646F79;

        font-size: 9.396px;
        font-style: normal;
        font-weight: 600;
        line-height: 14.094px;
    }

    .Horizontal-Common-Content-Box {
        gap: 4px;
        padding: 8px;
    }
}