.Batch-Card-Container {
    border-radius: 12px;
    background: var(--purple-0, #FFF5FC);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 24px;
}

.shift-btn {
    border-radius: 8px;
    background: var(--purple-100, #DFA6D0);
    color: #000;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 24px;
    margin-top: 8px;
}

.actual-price {
    color: #000;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.batch-general-detail {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Batch-Another-Detail>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.batch-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.normal-weight {
    color: #5E5E5E;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bold-weight {
    color: #5E5E5E;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.batch-price-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0;
}

.discounted-price {
    color: #000;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price {
    color: #000;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: line-through;
}

.Batch-Timing {
    color: #5E5E5E;
    text-align: right;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (min-width: 300px) and (max-width: 576px) {
    .batch-title {
        color: var(--black-400, #000);
        
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .shift-btn {
        padding: 5.693px 13.662px;
        color: var(--black-400, #000);
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 4.554px;
        background: var(--purple-100, #DFA6D0);
        border: none;
    }

    .discounted-price {
        color: var(--black-400, #000);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .price {
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .Batch-Timing {
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .Batch-Another-Detail>ul {
        gap: 11.385px;
    }

    .normal-weight {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .bold-weight {
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .batch-general-detail {
        gap: 22.77px;
    }

    .Batch-Card-Container {
        padding: 13.662px;
    }
}