.Nav {
    padding: 10px;
    overflow-x: scroll;
}

.Nav::-webkit-scrollbar {
    display: none;
}

.Nav>ul {
    display: flex;
    gap: 10px;
}

.Nav>ul>li {
    padding: 10px;
    color: #000;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-wrap: nowrap;
}