.homePage-Container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
}

.home-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.home-form>div {
    padding: 20px 24px;
    border-radius: 5.6px;
    border: 1.4px solid #ECECEC;
    width: 100%;
}

.home-form>div>input {
    outline: none;
    border: none;
    width: 100%;
}

.Call-Back-Btn {
    padding: 17px 28px;
    border-radius: 4px;
    background: var(--purple-400, #722E60);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
}

.home-form>p {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #514D4D;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.home-form>p>img {
    width: 36px;
    height: 36px;
}

.Popular_teacher_box {
    background: #ECE9E9;
    height: 241.372px;
    position: relative;
    padding: 25px 24px 0px;
}

#popular-teacher-section {
    min-height: 484px;
}

.Popular_teacher_absolute_box {
    position: absolute;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    top: 112px;
    width: 100%;
    left: 0;
}

.Popular_teacher_heading {
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.one-destination_box {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.one-destination_box>div {
    width: 50%;
}

.one-destination-btn-box {
    display: flex;
    gap: 36px;
    justify-content: center;
}

.heading-one-destination {
    color: #514D4D;
    text-align: left;
    font-family: Satoshi;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;

}

.one-destination-card-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: flex;
    gap: 10px;
}

.path-point {
    display: flex;
    gap: 15px;
    justify-content: left;
    margin: 20px 0px
}

.one-destination-card {
    display: flex;
    padding: 40px;
    align-items: center;
    border-radius: 8px;
    background: #F2F2F2;
    flex-grow: 1;
    gap: 32px;
}

.ind-exam {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.10);
    justify-content: space-between;
}

.ind-exam>span {
    display: inline-block;
    color: #000;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Popular-exam-box {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.Popular-Exam-Nav {
    padding: 10px;
}

.Popular-Exam-Nav>ul {
    display: flex;
    gap: 10px;
}

.Popular-Exam-Nav>ul>li {
    padding: 10px;
    color: #000;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.Popular-Ind-Exam-Box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 2fr));
    gap: 1%;
    grid-row-gap: 29px;
}


.ind-exam>img {
    width: 24px;
    height: 14px;
}

.Course-main-Box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 2fr));
    height: 205px;
    gap: 1%;
}

.course-box>img {
    height: 100%;
    width: 100%;
}

.edufinder-container {
    display: flex;
    gap: 40px;
    align-items: center;
    min-height: 635px;
}

.edufindr-box-container {
    display: flex;
    gap: 36px;
}

.edufinder-container>div {
    min-height: 635px;
}

.edufinder-head {
    color: #000;

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44.8px;
}

.edufinder-desc {
    color: #000;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.edufinder-content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

.edufinder-content-container>img {
    height: 58px;
}

.edu-des {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.horizontal-card-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(449px, 1fr));
    gap: 40px;
    grid-row-gap: 29px;
    grid-template-rows: min-content;
}

.Our-Course-Main-Container {
    display: flex;
}

.test-series-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
    grid-row-gap: 29px;
    grid-column-gap: 58px;
}

.TestSeries-Main-Container {
    display: flex;
    flex-direction: column;
}

.Mob-Caraousel {
    display: none;
}

.one-destination-card-box> :nth-child(1) {
    background: var(--purple-0, #FFF5FC);
}

.one-destination-card-box> :nth-child(2) {
    background: var(--orange-0, #FFF6F0);
}

.one-destination-card-box> :nth-child(3) {
    background: #E3F8FF;
}

.Loader-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media (min-width: 300px) and (max-width: 575px) {
    .one-destination-card-box {
        padding: 0px;
        box-shadow: none;
        border-radius: 0px;
    }

    .Mob-Caraousel {
        display: block;
    }

    .Web-Caraousel {
        display: none;
    }

    .path-point {
        text-align: center;
        justify-content: center;
    }

    .homePage-Container {
        margin: 37px auto;
        padding: 0 16px;
    }

    .one-destination_box {
        flex-direction: column;
        gap: 38px;
    }

    .one-destination_box>div {
        width: 100%;
    }

    .one-destination-card>img {
        width: 17.568px;
        height: 17.568px;
    }

    .one-destination-card-content>span {
        color: #000;

        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .one-destination-card-content>h2 {
        color: #000;

        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .one-destination-card {
        padding: 0px;
        padding: 10.98px;
        height: 56px;
        justify-content: center;
        gap: 8.784px;
    }

    .Popular-exam-box {
        gap: 16px;
    }

    .edufinder-desc {
        margin: 0 auto;
    }

    .edufinder-content-container>img {
        display: none;
    }

    .edufinder-head {
        color: #000;
        text-align: center;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 44.8px;
    }

    .edufinder-desc {
        color: #646F79;
        text-align: center;

        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .common_btn {
        margin: 0 auto;
        color: #FFF;
        text-align: center;

        font-size: 7.186px;
        font-style: normal;
        font-weight: 700;
        line-height: 11.497px;
        text-transform: capitalize;
    }

    .Square-Conatiner {
        padding: 11.576px;
        border-radius: 3.873px;
        background: var(--orange-0, #FFF6F0);
        gap: 11.576px;
    }

    .Square-Image-Box {
        width: 36px;
        height: 36px;
        padding: 6.385px 7.576px 7.816px 6.625px;
        border-radius: 4.519px;
        background: var(--orange-300, #D96A27);
        box-shadow: 0px 1.9365575313568115px 6.455191135406494px 0px #E3C9BB;
    }

    .Square-Box-Title {
        color: var(--black-400, #000);

        font-size: 11.576px;
        font-style: normal;
        font-weight: 700;
        line-height: 19.294px;
    }

    .Square-Conatiner>div {
        display: flex;
        flex-direction: column;
        gap: 3.873px;
    }

    .Square-Conatiner>div>h2 {
        width: 60%;
    }

    .Square-Conatiner>div>p {
        color: var(--black-300, #747073);

        font-size: 11.576px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.294px;
    }

    .edufindr-box-container {
        width: 100%;
        flex-direction: column;
    }

    .Common-Header-title {
        color: #722E60;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .description {
        color: #646F79;

        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .ind-exam>span {
        color: #000;

        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .Popular-Exam-Nav-Item {
        color: #000;

        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.793px;
    }

    .Popular_teacher_absolute_box {
        flex-direction: column;
        position: static;
        gap: 24px;
    }

    .Popular_teacher_box {
        display: flex;
        flex-direction: column;
        height: auto;
        background: #fff !important;
    }

    .common_card {
        width: 100%;
    }

    .common_card>img {
        width: 100%;
    }

    .TestSeries-Main-Container {
        margin-top: 32px;
    }

    .Popular_teacher_absolute_box {
        padding: 20px 0px 0px;
    }

    .Our-Course-Main-Container>.Common-Sidebar {
        width: 100%;
    }

    .Our-Course-Main-Container>.horizontal-card-grid {
        display: none;
    }

    .Our-Course-Main-Container>.Common-Sidebar>div>ul>li {
        height: 57.494px;
        padding: 18.851px;
        border-radius: 7.54px;
        box-shadow: -0.9425287246704102px 0.9425287246704102px 3.7701148986816406px 0px rgba(0, 0, 0, 0.10);

    }

    .heading-one-destination {
        color: #514D4D;
        text-align: center;

        font-size: 21.565px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
    }

    .commonPadding {
        padding-top: 37px !important;
    }

    #Popular-Exam {
        margin: 0px auto !important;
    }

    .block2 {
        gap: 11.576px;
        flex-direction: row;
        min-height: 192px;
        height: max-content;
    }

    .block1 {
        gap: 11.576px;
        flex-direction: row;
    }

    .edufinder-container {
        flex-direction: column;
    }

    .edufinder-container>div {
        min-height: auto;
    }

}


@media (min-width: 576px) and (max-width: 767px) {
    .Our-Course-Main-Container>.Common-Sidebar {
        width: 100%;
    }

    .Our-Course-Main-Container>.horizontal-card-grid {
        display: none;
    }


    .Our-Course-Main-Container>.Common-Sidebar>div>ul>li {
        height: 57.494px;
        padding: 18.851px;
        border-radius: 7.54px;
        box-shadow: -0.9425287246704102px 0.9425287246704102px 3.7701148986816406px 0px rgba(0, 0, 0, 0.10);
    }

    .one-destination_box {
        flex-direction: column;
        gap: 38px;
    }

    .one-destination_box>div {
        width: 100%;
    }

    .homePage-Container {
        max-width: 540px;
    }

    .Web-Caraousel {
        display: none;
    }

    .Mob-Caraousel {
        display: block;
    }

    .heading-one-destination {
        font-size: 30px;
    }

    .commonPadding {
        padding: 0px;
    }

    .one-destination-card {
        width: 30%;
        padding: 0px;
        gap: 20px;
        padding: 25px 5px;
        justify-content: space-between;
    }

    .one-desntination-card-content>span {
        font-size: 12px;
    }

    .one-destination-card-content>h2 {
        font-size: 15px;
        white-space: break-spaces;
    }

    .one-destination-card>img {
        height: 40px;
    }

    .Popular-exam-box>nav {
        overflow-x: scroll;
    }

    .Popular-exam-box>nav>ul {
        align-items: center;
    }

    .Popular-exam-box>nav>ul>li {
        text-wrap: nowrap;
    }


    /* Important */

    .edufinder-container {
        flex-direction: column;
    }

    .edufinder-container>div {
        min-height: auto;
    }

    .edufindr-box-container {
        flex-direction: column;
    }

    .block1 {
        flex-direction: row;
        flex-grow: 1;
    }

    .block2 {
        flex-direction: row;
        flex-grow: 1;
    }

    .Popular_teacher_box {
        padding: 0px;
        background: #fff;
        margin-top: 100px;
    }

    .Popular_teacher_absolute_box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
        grid-gap: 20px;
        padding: 0 10px;
    }

    .common_card {
        width: auto;
        max-height: 310px;
    }

    .common-card-image {
        height: 160px;
        width: 100%;
    }

    .Popular_teacher_box>.Common-Header-Box {
        padding: 10px 10px 0px;
    }

    .test-series-grid {
        grid-gap: 36px;
    }

    #popular-teacher-section {
        min-height: 800px;
    }

    .exam-box>div>nav {
        overflow-x: scroll;
        padding-left: 0px;
    }

    .exam-box>div>nav>ul {
        align-items: center;
    }

    .exam-box>div>nav>ul>li {
        text-wrap: nowrap;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .homePage-Container {
        max-width: 720px;
    }

    .edufinder-container {
        flex-direction: column;
    }

    .edufinder-container>:nth-child(1) {
        height: min-content;
        min-height: min-content;
    }

    .one-destination_box {
        flex-direction: column-reverse;
    }

    .one-destination_box>div {
        width: 100%;
    }
    .Popular_teacher_box{
        min-height: 880px;
        background: #fff;
    }
    .Popular_teacher_absolute_box{
        gap: 25px;
        flex-wrap: wrap;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    .homePage-Container {
        max-width: 960px;
    }

    .edufinder-container {
        flex-direction: column;
    }

    .edufindr-box-container {
        justify-content: space-between;
        width: 100%;
    }

    .edufinder-container>:nth-child(1) {
        height: min-content;
        min-height: min-content;
    }
}

@media(min-width: 1200px) {
    .homePage-Container {
        max-width: 1170px;
    }

}