#root {
    overflow: hidden;
}

.navigation_bar {
    width: 100%;
    height: 100px;
    padding: 0 40px;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    position: relative;
}

.logo_icon {
    width: 199.999px;
    height: 58px;
}

.logo_name_box>span {
    display: block;
    color: #000;
    font-size: 35.605px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
}

.logo_name_box>p {
    color: #000;
    ;
    font-size: 8.371px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

ul li {
    list-style: none;
}

.nav_items {
    gap: 20px;

}

.nav_title {
    padding: 10px;
    text-transform: capitalize;
}


.flexbox {
    display: flex;
    align-items: center;
}

.nav_title {
    color: #000;
    ;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.search_bar_box {
    border-radius: 4px;
    border: 1.2px solid #DFE4E8;
    background: #FFF;
    padding: 20px;
}

.search_bar_box>span {
    color: #757575;
    ;
    font-size: 18.845px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search_bar_box>img {
    width: 26.921px;
    height: 26.921px;
}

.search_bar {
    border: none;
    background-color: transparent;
}

.search_bar:focus {
    outline: none;
}

.get_started_btn {
    border-radius: 7px;
    background: #722E60;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 20px;
    text-transform: capitalize;
}

.hamburger {
    display: none;
}

.displaySidebar {
    right: 0px;
    transition: 0.3s;
    flex-direction: column;
    position: absolute;
    top: 100%;
    height: 100vh;
    z-index: 999;
    width: 218px;
    background: red;
    width: 100vw;
}



@media(min-width: 300px) and (max-width:575px) {
    .navigation_bar {
        padding: 13px 16px;
        height: 58.19px;
    }

    .search_bar_box {
        display: none;
    }

    .get_started_btn {
        display: none;
    }

    .logo_icon {
        width: 111px;
        height: 32.91px;
    }

    .hamburger {
        display: block;
    }

    .navigation_bar {
        position: relative;
    }

    .nav_items {
        flex-direction: column;
        position: absolute;
        top: 100%;
        height: 100vh;
        z-index: 999;
        width: 218px;
        background: red;
        width: 360px;
        right: -100%;
        transition: 0.3s;
    }
}


@media(min-width: 576px) and (max-width: 767px) {
    .search_bar_box {
        display: none;
    }

    .get_started_btn {
        display: none;
    }

    .logo_icon {
        width: 155.999px;
    }

    .hamburger {
        display: block;
    }

    .navigation_bar {
        position: relative;
    }

    .nav_items {
        flex-direction: column;
        position: absolute;
        top: 100%;
        height: 100vh;
        z-index: 999;
        width: 218px;
        background: red;
        width: 360px;
        right: -100%;
        transition: 0.3s;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .search_bar_box {
        display: none;
    }

    .get_started_btn {
        display: none;
    }

    .logo_icon {
        width: 155.999px;
    }

    .one-destination-card-box {
        flex-wrap: wrap;
    }
}

@media(min-width: 992px) and (max-width: 1100px) {
    .search_bar_box {
        display: none;
    }

    .logo_icon {
        width: 155.999px;
    }

    .get_started_btn {
        padding: 16px 20px;
    }
}

@media(min-width: 1101px) and (max-width: 1400px) {
    .search_bar_box {
        padding: 15px 20px;
    }

    .logo_icon {
        width: 155.999px;
    }

    .get_started_btn {
        padding: 16px 20px;
    }
}