.Conatct-Us-Container {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.Conatct-Top-Container {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.Conatct-Top-Container>* {
    width: 50%;
}

.Conatct-Content-Box {
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: relative;
}

.Contact-Head-Box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-key-point {
    margin-left: 18px;
}

.contact-key-point>li {
    list-style: disc;
}

.Contact-us-btm-container {
    display: flex;
}

.Contact-us-btm-container>* {
    width: 50%;
}

.Contact-us-btm-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Contact-us-img-container {
    position: relative;
}

.Contact-us-img-container>div>img {
    min-height: 395px;
}

.Contact-Details-Grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 16px;
    border: 1px solid #DFE4E7;
    background: #FFF;
    padding: 16px;
}

.Contact-Detail-Box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Contact-Detail-Box>p {
    display: flex;
    align-items: center;
    gap: 16px;
}

.Contact-Detail-Box>p>img {
    width: 30px;
    height: 22.031px;
}

.Contact-Detail-Box>h6 {
    color: #000;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

@media (min-width: 300px) and (max-width: 575px) {}

@media (min-width: 576px) and (max-width: 767px) {
    .Conatct-Us-Container {
        max-width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Conatct-Us-Container {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Conatct-Us-Container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .Conatct-Us-Container {
        max-width: 1170px;
    }
}